{
    "extends": "standard",
    "rules": {
        "no-new": 0,
        "no-mixed-spaces-and-tabs": 0,
        "no-tabs": 0,
        "eqeqeq": 0,
        "indent": ["error", "tab"]
    },
    "plugins": ["html"]
}